*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clearfix di nav1*/
.nav1:after,.nav1-leftside:after{
  content: "";
  display: table;
  clear: both;
}

/* Barra di navigazione 1 */
.nav1 {
  width: 100%;
  height: 60px;
  background-color: #33475b;
  color: white;
  line-height: 60px;
  padding: 0 50px;
}

.nav1-img{
  width: 60px;
  height: 60px;
  position: relative;
}

.nav1-img>img{
  width: 40px;
  height: 40px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.account-img img{
  width: 40px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-item{
  cursor: pointer;
  padding: 0 15px;
  position: relative;
}

.nav1-rightside img{
  border-radius: 100%;
}

#special-nav1 {
  float: right;
  cursor: pointer;
  padding-right: 5px;
}

/* Float di tutti gli elementi rispettivamente di left e right */
.nav1-leftside,.nav1-leftside .nav1-img,.nav1-leftside .nav-item{
  float: left;
}

.nav1-rightside,.nav1-rightside .nav1-img,.nav1-rightside .nav-item{
  float: right;
}

/* Sticky nav-bar */
.sticky-nav{
  height: 80px;
  background-color: #f5f8fa;
  z-index: 2;
  padding: 20px 100px;
  line-height: 40px;
  position: sticky;
  top: 0;
}

/* Clearfix di stickynav */
.stickynav-left:after,.stickynav-right:after,.sticky-nav:after{
  content: "";
  display: table;
  clear: both;
}

#language-border{
  float: left;
  padding: 0 15px;
  border-right: 2px solid #cbd6e2;
}

.stickynav-right i{
  color: #01a4bd;
  margin-right: 15px;
}

.navitem-bordered {
  float: right;
  background-color: #ff7a59;
  border-radius: 5%;
  color: white;
  padding: 0 15px;
  cursor: pointer;
}

.stickynav-left .nav-item {
  float: left;
}

.stickynav-right .nav-item{
  float: right;
}

.stickynav-left{
  float: left;
}

.stickynav-right{
  float: right;
}

/* Terza nav Hubspot */
.nav-hubspot{
  height: 80px;
  padding: 20px 100px;
}

.navhubspot-left, .navhubspot-left .nav-item{
  float: left;
}

.navhubspot-right, .navhubspot-right .nav-item{
  float: right;
}

/* Clearfix terza nav */
.navhubspot-left:after,.nav-hubspot:after{
  content: "";
  display: table;
  clear: both;
}

/* Main 1, Hubspot Free */
.hubspot-free{
  height: 600px;
  background-image: url("img/hero1.png");
  /* background-size: cover; */
  color: white;
  padding: 30px 100px;
}

.free-text{
  max-width: 400px;
}

.free-text h1{
  font-size: 3.5rem;
  margin-top: 50px;
}

.free-text p{
  font-size: 1.1rem;
  margin-top: 15px;
  margin-bottom: 30px;
}

.get-hubspot{
  width: 60%;
  color: black;
  padding: 30px 50px;
  margin: 15px 0;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  font-size: 1.2rem;
}

.lesser-freetext{
  max-width: 250px;
}

/* Div che accentra tutto */
.container{
  width: 1000px;
  margin: auto;
}

/* Main 2, HubSpot cube */
.hubspot-cube{
  height: 450px;
  padding:40px;
  text-align: center;
  background-color: #f5f8fa;
}

.hubspot-cube img{
  width: 300px;
}

.hubspot-cube h2{
  font-size: 2rem;
  margin-bottom: 20px;
}

.hubspot-cube p{
  font-size: 1.3rem;
}

/* Main 3, Free HubSpot CRM */
.hubspot-main3{
  height: 300px;
  background-color: #f5f8fa;
}

.hubspot-crm{
  padding: 30px;
  background-color: white;
}

.crm-left{
  text-align: center;
  padding-left: 20px;
}

.hubspot-crm img{
  height: 150px;
}

.learnmore-center{
  padding: 30px 60px;
}

.learnmore-center p{
  padding: 15px;
  color: white;
  cursor: pointer;
  background-color: #ff7a59;
  border-radius: 10px;
}

.crm-right h4{
  font-size: 1.5rem;
  margin: 10px 0;
}

.crm-right p{
  font-size: 16px;
  margin: 15px 0;
}

.popular-features ul{
  list-style: none;
}

.crm-right li{
  float: left;
  margin-right: 20px;
}

.popular-features li:before{
  content: '';
  background: url(https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg) no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 10px;
}

.crm-right{
  list-style: none;
}

.popular-features{
  position: relative;
}

.crm-right .popular-features p:after{
  content: '';
  position: absolute;
  height: 5px;
  margin-left: 10px;
  border-bottom: 1px solid #e0e6ed;
  top: 4px;
  width: 450px;
}

.crm-left{
  float: left;
  width:30%;
}

.crm-right{
  float: left;
  width: 70%;
}
/* hubspot-main3 Clearfix */
.hubspot-crm:after, .crm-right ul:after{
  content: "";
  display: table;
  clear: both;
}
/* Main 4, tre elementi */
.threerows-main4{
  height: 600px;
  background-color: #f5f8fa;
}

.three-row{
  float: left;
  width: 31%;
  background-color: white;
  text-align: center;
  margin: 30px 0;
  padding: 20px 10px;
  margin-right: 3%;
}

#special-threerow{
  float: left;
  margin-right: 0;
}

.three-row img{
  height: 150px;
}

.three-row h4{
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.three-row hr{
  margin: 20px;
}

.three-row li{
  text-align: left;
  margin: 5px 15px;
}

.three-row .learnmore-center{
  margin-top: 20px;
  padding: 0px 80px;
}
/* Clearfix threerows-main4 */
.threerows-container:after{
  content: "";
  display: table;
  clear: both;
}
/* Testo prima della griglia */
.text-grid{
  height: 300px;
  background-color: #00aeb4;
  text-align: center;
  padding: 100px 300px;
  color: white;
}

.text-grid h2{
  font-size: 2rem;
  max-width: 800px;
  margin-bottom: 15px;
}

.text-grid p{
  font-size: 18px;
  max-width: 800px;
}
/* Grid */
.grid{
  height: 500px;
  background-color: #00aeb4;
  color: white;
}

.grid-row{
  float: left;
  width: 25%;
  height: 200px;
  text-align: center;
  padding: 20px;
}

.grid-up .grid-row{
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.grid-down .grid-row{
  border-right: 1px solid #fff;
}

.grid-row h2{
  font-size: 2.5rem;
  margin: 20px 0;
}

.grid-row h2{
  font-size: 2.5rem;
  position: relative;
}

.little-plus{
  position: absolute;
  font-size: 1rem;
  top:25%;
}

#special-gridrow{
  border-right: 0;
}
/* Clearfix della grid */
.grid-up:after{
  content: "";
  display: table;
  clear: both;
}
/* Bussinesses */
.bussinesses{
  height: 500px;
}

.bussinesses-container{
  padding: 100px 0;
}

.bussinesses-text{
  float: left;
  width:40%;
  text-align: left;
  color: black;
}

.bussinesses-icons{
  float: left;
  width: 60%;
}

.bussinesses-wrapper{
  float: left;
  width: 25%;
}

.bussinesses-wrapper img{
  width: 60%;
  /* height: 40px; */
}

.bussinesses-text h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.bussinesses-text p{
  font-size: 1.2rem;
  max-width: 250px;
}

.bussicons-up{
  margin-bottom: 50px;
}
/* Bussinesses Clearfix */
.bussinesses-container:after,.bussicons-up:after,.bussicons-down:after{
  content: "";
  display: table;
  clear: both;
}
/* Ultimo main, Growing */
.growing{
  height: 500px;
}

.growing-left{
  float: left;
  width: 50%;
  text-align: left;
  padding-top: 80px;
}

.growing-right{
  float: right;
  width: 50%;
  position: relative;
}

.growing-left h2{
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-weight: 800;
}

.growing-left>p{
  font-size: 1rem;
  margin-bottom: 30px;
  font-weight: 800;
}

.growing-left .navitem-bordered{
  text-align: center;
  width: 50%;
  padding: 30px 40px;
  float: none;
  font-weight: bold;
  margin-bottom: 30px;
}

.profile-wrapper{
  width: 350px;
  height: 350px;
  background-color: #f2547d;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.profile-wrapper img{
  max-width: 100%;
}

.under-profile{
  position: absolute;
  text-align: center;
  right: 100px;
  bottom: -400px;
}

.under-profile:before{
  content: url(https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/_style-guide/sword-sprocket/circlesHorizontalPink.svg);
}

/* Clearfix growing */
.growing-container{
  content: "";
  display: table;
  clear: both;
}
/* Footer */
/* Footer fourrows */
footer{
  background-color: #33475b;
  color: white;
}

.footer-fourrows{
  height: 400px;
  padding-top: 80px;
}

.fourrows{
  float: left;
  width: 25%;
}

.fourrows h3{
  font-weight: bold;
}

.fourrows p{
  margin: 15px 0;
}

.hubspot-support{
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  border: 0;
  border-radius: 5px;
  color: black;
  padding: 8px 16px;
  background-color: white;
}

.footer-social i{
  margin-right: 20px;
}
/* Footer Languages */
.footer-languages{
  height: 60px;
  font-size: 1.3rem;
  margin-top: 40px;
}

.small-container{
  width: 600px;
  margin:auto;
}

.languages-block{
  float: left;
  width: 16.66%;
}

/* Footer end */
.footer-end{
  padding: 30px 0;
}

.footer-end img{
  margin-bottom: 15px;
}

.endfooter-left{
  float: left;
}

.endfooter-right{
  float: right;
}

.endfootertext-right{
  float: right;
  margin-left: 20px;
  font-size: 20px;
}

/* Clearfix footer */
.fourrows-container:after,.languages-container:after,.endfooter-container:after,.endfooter-right:after{
  content: "";
  display: table;
  clear: both;
}
