*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clearfix di nav1*/
.nav1:after,.nav1-leftside:after{
  content: "";
  display: table;
  clear: both;
}

/* Barra di navigazione 1 */
.nav1 {
  width: 100%;
  height: 60px;
  background-color: #33475b;
  color: white;
  line-height: 60px;
  padding: 0 50px;
}

.nav1-img{
  width: 60px;
  height: 60px;
  position: relative;
}

.nav1-img>img{
  width: 40px;
  height: 40px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.account-img img{
  width: 40px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav1-item{
  cursor: pointer;
  padding: 0 15px;
  position: relative;
}

.nav1-rightside img{
  border-radius: 100%;
}

#special-nav1 {
  float: right;
  cursor: pointer;
  padding-right: 5px;
}

/* Float di tutti gli elementi rispettivamente di left e right */
.nav1-leftside,.nav1-leftside .nav1-img,.nav1-leftside .nav1-item{
  float: left;
}

.nav1-rightside,.nav1-rightside .nav1-img,.nav1-rightside .nav1-item{
  float: right;
}

/* Sticky nav-bar */
.sticky-nav{
  height: 80px;
  background-color: #f5f8fa;
  z-index: 2;
  padding: 20px 100px;
  line-height: 40px;
  position: sticky;
  top: 0;
}

/* Clearfix di stickynav */
.stickynav-left:after,.stickynav-right:after,.sticky-nav:after{
  content: "";
  display: table;
  clear: both;
}

#language-border{
  float: left;
  padding: 0 15px;
  border-right: 2px solid #cbd6e2;
}

.stickynav-right i{
  color: #01a4bd;
  margin-right: 15px;
}

.navitem-bordered {
  float: right;
  background-color: #ff7a59;
  border-radius: 5%;
  color: white;
  padding: 0 15px;
  cursor: pointer;
}

.stickynav-left .nav1-item {
  float: left;
}

.stickynav-right .nav1-item{
  float: right;
}

.stickynav-left{
  float: left;
}

.stickynav-right{
  float: right;
}

/* Terza nav Hubspot */
.nav-hubspot{
  height: 80px;
  padding: 20px 100px;
}

.navhubspot-left, .navhubspot-left .nav1-item{
  float: left;
}

.navhubspot-right, .navhubspot-right .nav1-item{
  float: right;
}

/* Clearfix terza nav */
.navhubspot-left:after,.nav-hubspot:after{
  content: "";
  display: table;
  clear: both;
}

/* Main 1, Hubspot Free */
.hubspot-free{
  height: 450px;
  background-image: linear-gradient(to top right, #425b76, #0091b0, #00a4bd, #7fd1de);
  color: white;
  padding: 30px 100px;
}

.free-text{
  max-width: 400px;
}

.free-text h1{
  font-size: 3.5rem;
}

.free-text p{
  font-size: 1.1rem;
  margin-top: 15px;
  margin-bottom: 30px;
}

.get-hubspot{
  width: 60%;
  color: black;
  padding: 30px 50px;
  margin: 15px 0;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  font-size: 1.2rem;
}

.lesser-freetext{
  max-width: 250px;
}

/* Div che accentra tutto */
.container{
  width: 1000px;
  margin: auto;
}

.hubspot-cube{
  height: 300px;
  position: relative;
  padding:100px;
}

.hubspot-cube img{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Nav-bar */
.nav-bar {
  height: 100px;
  line-height: 100px;
  font-size: 14px;
  font-weight: 700;
}

.nav-bar span:hover{
  cursor: pointer;
  color: #7fb802;
}

.left-side span{
  margin-left: 10px;
}

.left-side img{
  position: relative;
  top: 10px;
  cursor: pointer;
}

.right-side button{
  cursor: pointer;
  padding: 6px 6px;
  color: white;
  border-radius: 5px;
}

.green{
  border: 1px solid transparent;
  background-color: #7fb802;
}

.transparent{
  border: 1px solid white;
  background-color: transparent;
}

.right-side span, .right-side button{
  margin-right: 10px;
}

.left-side{
  float: left;
}

.left-side img{
  height: 40px;
}

.right-side{
  float: right;
}

.left-side,.right-side{
  color: white;
}

/* Titolo */
.title{
  height: 150px;
  background-color: #F9F9F9;
  text-align: center;
  padding-top: 30px;
}

.title h2{
  margin-bottom: 20px;
}

/* Parte centrale, div in tre colonne */
.left,.center,.right{
  float: left;
  text-align: center;
  padding: 10px;
}

.medium .left,.medium .center,.medium .right{
  width: 33%;
}

.three-rows{
  padding: 30px;
}

.three-rows img{
  height: 150px;
}

.three-rows h3{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #7fb802;
}

.three-rows hr{
  margin: 0 150px 20px 150px;
}

.main hr{
  margin-left: 30px;
  margin-right: 30px;
}

.right img {
  position: relative;
  right:30px;
  top:5px;
}

main>hr{
  margin-left: 15px;
  margin-right: 15px;
}

/* Parte centrale, due colonne */
.test .left,.test .right{
  width: 50%;
  padding: 5%;
  text-align: left;
  position: relative;
}

.test .right{
  height: 400px;
  padding: 150px 30px 100px 30px;
}

.test p{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Tasto help fixed */
.help{
  position: fixed;
  background-color: rgb(0, 153, 0);
  bottom: -12px;
  right: 200px;
  padding: 8px 10px 21px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 1.5;
  font-family: proxima-nova, Arial, sans-serif;
}
